div.not-found {
  background-color: #000;
  width: 100vw;
  div.container {
    div.row {
      div.col-12 {
        &.e-404 {
          background-image: url(/assets/img/404.png);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 100vh;
        }
      }
    }
  }
}