<main id="main" (scroll)="onMasonryScroll()" infiniteScroll [infiniteScrollDistance]="0.03" (scrolled)="listTrendingGifs()" [scrollWindow]="false">
  <div class="container">
    <ngx-masonry [options]="myOptions" [useImagesLoaded]="true">
      <div ngxMasonryItem class="masonry-item" *ngFor="let gif of trendingGifs">
        <figure>
          <img [src]="gif.images.preview_gif.url" [alt]="gif.title">
        </figure>
      </div>
    </ngx-masonry>
    <div *ngIf="loading" class="d-flex justify-content-center align-items-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <button *ngIf="showGoUpButton" class="btn btn-dark scroll-top" (click)="scrollTop()"></button>
</main>
